.tag{
    padding: 0.6rem;
    border-radius: 40%;
    font-size: 0.6rem;
    font-weight: bold;
    background-color: grey;
    color: white;
    margin-left: 0.5rem;
}

.del-tag{
    margin-left: 0.3rem;
}