.brewerie{
    border: solid black 0.1rem;
    &-list{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        gap: 1rem;
    }

    .btn{
        border-radius: 50px;
        border: 0px;
        background-color: white;
        color: #FFC75F;
        padding: 0.3rem;
    }
}