body{
    background-color: rgba($color: #FFC75F, $alpha: 0.2);
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;

}

