body{
    background-color: rgba($color: #FFC75F, $alpha: 0.2);
    min-height: 100vh;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./august-phlieger-fcyqGNfNJQk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.main{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

@media screen and (min-width: 770px)
{
    .main{
        width: 50%;
        margin: 0 auto;
    }
}
