.home{
    margin: 3rem;
    width: 90%;

    &-title{
        text-align: center;
    }
    &-map{
        border: solid black 0.1rem;
        width: 90%;
        height: 25rem;
        margin: auto;
        margin-top: 2rem;
    }
}