.header{
    height: 5rem;
    width: 100%;
    border-bottom: 0.1rem solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    &-logo {
        width: 2rem;
    }
}