.footer{
   
    padding: 2rem; 
    max-height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
  
    

    &-alert{
        font-size: 0.9rem;
        text-align: center;
        
    }
}