.leaflet-container {
    width: 100vw; 
    height: 85vh;
    margin: 1rem;
    margin-top: 4rem;
  }

.leaflet-popup-content-wrapper{
  background-color: #F3E094;
  border-radius: 20px;
  text-align: center;
}

.size{
  width: 50%;
  margin: 0 auto;
}

.easy-button-container {
  margin-top: 2rem !important;
}

.leaflet-control-layers-toggle {
  display: none;
}

.easy-button-button{
  width: 4.2rem !important;
  height: 4.2rem !important;
  border-radius: 50% !important;
  border: none !important;
  box-shadow: 5px 5px 5px grey;
}

.fa{
  margin-top: 0.4rem;
  margin-right: 0.3rem;;
}

.leaflet-touch .leaflet-bar{
  border: none;
}

.blue {
  color: #398DEB;
}


