.leaflet-container {
    width: 100vw; 
    height: 85vh;
    margin: 1rem;
    margin-top: 4rem;
    position: relative;
  }

.leaflet-popup-content-wrapper{
  border-radius: 7%;
  text-align: center;
  width: 20rem !important;
}

.detail-button {
  box-shadow: 5px 5px 5px grey;
}

.size{
  width: 100%;
  margin: 0 auto;
}

.leaflet-control-layers-toggle {
  display: none;
}

.easy-button-button{
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 30% !important;
  border: none !important;
  box-shadow: 5px 5px 5px grey;
 
}

.fa{
  margin-top: 0.4rem;
  margin-right: 0.3rem;
}

.leaflet-touch .leaflet-bar{
  border: none;
}

.blue {
  color: #398DEB;
}

.img-brewery{
  width: 100%;
}

.color{
  color: black !important;
}

.color-button{
  background-color: #398DEB !important;
  color: white !important;
  font-weight: bold;
}
.phone-number{
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}


