.nav{
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 0.5rem;
    
    &-link{
        padding-left: 1rem;
    }

    &-geoloc{
        margin-bottom: 1rem;
    }
    
}

.active{
    border-left: solid black;
}